@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    font-family: 'Roboto', sans-serif;
}

body {
    display:block;
    margin: 0px;
    padding: 0px;
    background-color: rgb(196, 192, 184);
}

main {
    padding : 16px;
    margin-bottom: 80px;
    width: auto;
    max-width: 1600px;
}

footer {
    padding: 24px 0px 24px 0px;
    width: 100%;
    background-color: rgb(117, 117, 117);
    color: white;
    position:fixed;
    bottom: 0px;
    border: thick ridge rgb(82, 82, 82)
}

img {
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
}

nav {
    background-color: rgb(117, 117, 117);
    padding : 16px;
    border: thick ridge  rgb(82,82,82);
}


table {
    border: 1px solid black;
}

td {
    border-top: 1px solid black;
}

tr {
    background-color:rgb(226, 224, 224);
    color: rgb(0, 0, 0);
}

th {
    background-color: rgb(37, 38, 39);
    color: rgb(235, 232, 232);
}

ol {
    padding: 0 40px 0 40px;
}
a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: background-color 0.5s;
    transition: color .5s;
    text-decoration: underline
}

a {
    display:block;
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(226, 224, 224);
    border-radius: 5px;
    border: 4px double black;
    text-align: center;
}

h3 {
    background-color: rgb(226, 224, 224);
    border-radius: 5px;
    width: 200px;

    margin: 10px auto;
}

.navigator {
    display:block;
    width: 100px;

}

#food-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:300px;
    margin: 20px 0px;
    transition: .5s;

}

#food-grid  >div {
    background-color : rgb(105, 93, 93);
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    box-shadow:  10px 5px 5px rgba(105, 93, 93, 0.486);
}

#food-grid:has(.col1:hover) {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    transition: .5s;
}
#food-grid:has(.col2:hover) {
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    transition: .5s;
}
#food-grid:has(.col3:hover) {
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    transition: .5s;
}
#food-grid:has(.col4:hover) {
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    transition: .5s;
}

#food-grid2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:300px;
    margin: 20px 0px;
    transition: .5s;
}

#food-grid2  >div {
    background-color : rgb(105, 93, 93);
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    box-shadow:  10px 5px 5px rgba(105, 93, 93, 0.486);
}

#food-grid2:has(.col1:hover) {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    transition: .5s;
}

#food-grid2:has(.col2:hover) {
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    transition: .5s;
}

#food-grid2:has(.col3:hover) {
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    transition: .5s;
}

#food-grid2:has(.col4:hover) {
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    transition: .5s;
}


div.rating {
    background-color: rgb(226, 224, 224);
    text-align:center;
    border: 1px solid black;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
}

.stars {
    font-size: 15px;
    color: rgb(206, 185, 66);
}

.brown-background {
    background-color : rgb(105, 93, 93);
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow:  10px 5px 5px rgba(105, 93, 93, 0.486);
}

.brown-background > div {
    margin :10px;
}

div.brown-background {
    width: max-content;
}

.dish-rating {
    display:block;
    background-color:  rgb(226, 224, 224);
    border-radius: 5px;
    border: 1px solid black;
    margin:10px 0px;
    height: auto;
}

.dish-rating > p {
    margin: 5px;
}

.dish-rating >h2 {
    margin: 5px 0px 0px 5px;
}

.steps {
    display:block;
    background-color: rgb(226, 224, 224);
    border-radius: 5px;
    border: 1px solid black;
    margin:5px 0px;
    height: auto;
}
 .steps > h2 {
    margin: 5px 0px 0px 5px;
 }

/* finish formatting about, add backgrounds to ingredients steps header */
